<div
  class="wrapper"
  ngClass.lt-sm="wrapper--lt-sm"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="40px"
>
  <div class="box" ngClass.lt-sm="box--lt-sm">
    <h2>Psychoterapia a światopogląd</h2>

    <p>
      Jako psychoterapeuta szanuję każde przekonania, także religijne.
      Światopogląd, wiara czy wyznawana religia - to obszary, które w gabinecie
      psychoterapeutycznym otoczone są opieką. Są one częścią ciebie, nadają
      charakter tobie i twojemu życiu. Psychoterapeuta ich nie kwestionuje, ale
      uwzględnia jako ważne elementy osobowości i przekonań pacjenta, mające
      realny wpływ na jego życie.
    </p>
  </div>
  <div class="height"><p></p></div>
</div>
