<div
  class="wrapper"
  ngClass.lt-sm="wrapper--lt-sm"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="40px"
>
  <div class="box lowerh3" ngClass.lt-sm="box--lt-sm">
    <h2>W CZYM MOGĘ POMÓC</h2>
    <h3>TRUDNE SYTUACJE ŻYCIOWE, TRAUMA</h3>
    <p>
      śmierć bliskiej osoby, poronienie, kryzys w związku, rozstanie, rozwód,
      wypadek, utrata pracy lub statusu materialnego, innego rodzaju bezpowrotna
      utrata, bolesna krzywda, ofiara agresji, mobbingu, molestowania lub innych
    </p>
    <h3>TRUDNE RELACJE</h3>
    <p>
      trudności lub cierpienie w związku; związki niesatysfakcjonujące, burzliwe
      lub krótkotrwałe; częste konflikty, napięcia w relacjach z ludźmi,
      długotrwałe urazy
    </p>
    <h3>OBNIŻONY NASTRÓJ, DEPRESJA</h3>
    <p>
      utrzymujące się przygnębienie lub zły nastrój, rezygnacja; brak motywacji
      do życia, do działania, do wstawania z łóżka; bezradność, trudność w
      podejmowaniu decyzji, poczucie zagubienia, beznadziei, brak nadziei na
      przyszłość, długo utrzymujący się pesymizm, poczucie niezrozumienia samego
      siebie lub swojego życia, brak poczucia sensu życia, utrzymująca się
      niechęć do życia, zły nastrój; złe myśli o sobie lub o swoim życiu, o
      świecie, o ludziach
    </p>
    <h3>LĘKI</h3>
    <p>
      lęk przed wychodzeniem z domu, przed ludźmi lub spotkaniami z ludźmi, inne
      lęki społeczne; lęk przed ciemnością, przyszłością, zagrożeniami
      ogólnoświatowymi; poczucie zagrożenia, koszmary, bezsenność, trudności w
      zasypianiu, budzenie się w nocy
    </p>
    <h3>STRES</h3>
    <p>
      obciążenie stresem, niepokój, zamartwianie, długo utrzymująca się troska
      lub zmęczenie, nerwowość, zaburzenia snu
    </p>
    <h3>EMOCJE</h3>
    <p>
      doświadczanie trudnych, bolesnych emocji lub psychicznego cierpienia;
      poczucie zmęczenia własnymi myślami i uczuciami; chaos w głowie, częste
      zmiany nastroju, trudności w wyrażaniu emocji, zbyt emocjonalne reakcje;
      niedoświadczanie wielu emocji lub doświadczanie ich powierzchownie;
      obojętność emocjonalna, trudność w wyrażaniu emocji, ich tłumienie lub
      wybuchy złości; uczucie nienawiści do siebie, do świata, do życia, do
      innych; uporczywe, natrętne myśli lub wyobrażenia; powtarzające się
      nieuzasadnione, męczące zachowania; naprzemiennie stany wspaniałego humoru
      i depresji
    </p>
    <h3>INNE</h3>
    <p>
      chcesz pracować nad sobą, by pełniej wykorzystywać swój potencjał albo
      lepiej radzić sobie w jakimś obszarze życia lub z wyzwaniami dnia
      codziennego; borykasz się z problemami wychowawczymi dotyczącymi dzieci i
      nastolatków; masz problemy na polu zawodowym lub poczucie wypalenia; masz
      trudności w znalezieniu ścieżki życiowej; martwią cię niektóre twoje
      zachowania, na którymi nie masz kontroli
    </p>
  </div>

  <div class="box lowerh3" ngClass.lt-sm="box--lt-sm">
    <h3>LECZONE ZABURZENIA</h3>
    <ul>
      <li>Stres</li>
      <li>Lęki</li>
      <li>Dorosłe Dzieci Alkoholików</li>
      <li>Nerwica</li>
      <li>Zaburzenia lękowe</li>
      <li>Zaburzenia nastroju/emocjonalne</li>
      <li>Zaburzenia osobowości</li>
      <li>Zaburzenia snu</li>
      <li>Zaburzenia odżywiania</li>
      <li>Natręctwa</li>
      <li>Choroby psychosomatyczne</li>
      <li>Wypalenie zawodowe</li>
      <li>Kryzysy: rozwojowy, życiowy, w związku</li>
    </ul>
  </div>

  <div class="height"><p></p></div>
</div>
