<div class="about-container" fxLayout.lt-md="column" fxLayout>
  <div
    class="image-container"
    fxFlex="40%"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <app-profile-pic class="profile" fxShow.lt-md="false"></app-profile-pic>
  </div>
  <div
    class="content"
    fxLayout="column"
    fxLayoutGap="60px"
    fxFlex="60%"
    fxLayoutAlign="center start"
    fxLayoutAlign.lt-md="start center"
    ngClass.lt-xl="content--lt-xl"
    ngClass.lt-md="content--lt-md"
  >
    <h1>Miej się dobrze...</h1>
    <div class="links-photo-wrapper" fxLayout>
      <app-profile-pic fxShow.gt-md="false"></app-profile-pic>
      <div
        class="links-container"
        fxLayout
        fxLayout.lt-lg="column"
        fxLayoutGap="20px"
      >
        <div class="link"><a>W czym mogę pomóc</a></div>
        <div class="link"><a>Jak pracuję</a></div>
        <div class="link"><a>Pierwsze spotkanie</a></div>
      </div>
    </div>
    <div>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </div>
  </div>
</div>
