<app-page-wrapper fxShow.lt-sm="false">
  <div
    class="wrapper"
    fxLayout="column"
    fxLayoutAlign="center start"
    ngClass.lt-sm="wrapper--lt-sm"
  >
    <div class="text-content">
      <h1>O mnie...</h1>
      <p>
        Ukończyłam studia magisterskie na uniwersytecie Gdańskim, od wielu lat
        pracuję zawodowo z człowiekiem: z dziećmi, z młodzieżą, z dorosłymi.
        Obecnie zdobywam specjalizację w nurcie psychodynamicznym w Krakowskim
        Centrum Psychodynamicznym. Szkoła rekomendowana jest przez Polskie
        Towarzystwo Psychologiczne oraz Polskie Towarzystwo Psychoterapii
        Psychodynamicznej.
      </p>
      <p>
        Pracuję z głębokim poszanowaniem etyki zawodowej psychoterapeuty,
        obowiązuje mnie tajemnica i poufność oraz dbanie przede wszystkim o
        dobro Pacjenta. Swoją pracę poddaję stałej ocenie specjalisty
        superwizora, w celu utrzymania jakości i standardów terapii. Jestem
        członkiem Polskiego Towarzystwa Psychoterapii Psychodynamicznej.
      </p>
    </div>
  </div>
</app-page-wrapper>
<app-profile-pic fxShow.lt-sm="false" fxShow.sm="false"></app-profile-pic>
<div
  class="mobile-wrapper"
  ngClass.lt-sm="wrapper--lt-sm"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="40px"
  fxShow.gt-sm="false"
>
  <div class="box" ngClass.lt-sm="box--lt-sm">
    <h2>O mnie...</h2>

    <p>
      Ukończyłam studia magisterskie na uniwersytecie Gdańskim, od wielu lat
      pracuję zawodowo z człowiekiem: z dziećmi, z młodzieżą, z dorosłymi.
      Obecnie zdobywam specjalizację w nurcie psychodynamicznym w Krakowskim
      Centrum Psycho- dynamicznym. Szkoła rekomendo- wana jest przez Polskie
      Towarzystwo Psychologiczne oraz Polskie Towarzystwo Psychoterapii Psycho-
      dynamicznej.
    </p>
    <p>
      Pracuję z głębokim poszanowaniem etyki zawodowej psychoterapeuty,
      obowiązuje mnie tajemnica i poufność oraz dbanie przede wszystkim o dobro
      Pacjenta. Swoją pracę poddaję stałej ocenie specjalisty superwizora, w
      celu utrzymania jakości i standardów terapii. Jestem członkiem Polskiego
      Towarzystwa Psychoterapii Psycho- dynamicznej.
    </p>
  </div>
  <div class="height"><p></p></div>
</div>
