@import "../../assets/constants";

@mixin profileContainerBase {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-container {
  &--big {
    @include profileContainerBase;
    width: 270px;
    height: 408px;
  }

  &--small {
    @include profileContainerBase;
    width: 150px;
    height: 213px;
  }
}

.big {
  border-radius: 50%;
  height: 154px;
  width: 154px;
  margin: 55px 0 25px 0;
  content: url("../../assets/aga_foto1.jpg");
}

.small {
  border-radius: 50%;
  height: 98.5px;
  width: 98.5px;
  content: url("../../assets/aga_foto1.jpg");
  margin: 15px 0 12px 0;
}

.name {
  &--big {
    margin-bottom: 20px;
    font-family: $poppins;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0 50px;
    text-align: center;
    line-height: 1.2em;
  }

  &--small {
    font-family: $poppins;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
}

.line {
  &--big {
    width: 10%;
    height: 2px;
    border-radius: 20px;
    background-color: $lightBlue;
    margin-bottom: 20px;
  }

  &--small {
    width: 10%;
    height: 2px;
    border-radius: 20px;
    background-color: $lightBlue;
    margin-bottom: 10px;
  }
}

.spec {
  &--big {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-size: 14px;
  }

  &--small {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
