<div
  [ngClass]="
    mode === 'BIG' ? 'profile-container--big' : 'profile-container--small'
  "
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <img [ngClass]="mode === 'BIG' ? 'big' : 'small'" />
  <div class="text-content" fxLayout="column" fxLayoutAlign="start center">
    <div [ngClass]="mode === 'BIG' ? 'name--big' : 'name--small'">
      Agnieszka Orzeł
    </div>
    <div [ngClass]="mode === 'BIG' ? 'line--big' : 'line--small'"></div>
    <div [ngClass]="mode === 'BIG' ? 'spec--big' : 'spec--small'">
      Psychoterapeuta
    </div>
  </div>
</div>
