.about-container {
  height: 100%;
  width: 100%;
}

.image-container {
  background-image: url("../../assets/shutterstock_1235098105\ \(1\).jpg");
  background-size: cover;
}

.content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
