<div
  class="wrapper"
  ngClass.lt-sm="wrapper--lt-sm"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="40px"
>
  <div id="jakpracuje" class="box" ngClass.lt-sm="box--lt-sm">
    <h2>Jak Pracuję</h2>
    <p>
      Prowadzę terapię indywidualną dorosłych w nurcie psychodynamicznym. Sesje
      trwają 50 min. Spotykamy się zwykle raz w tygodniu, o stałej porze. W
      uzasadnionych przypadkach możemy ustalić inną częstotliwość spotkań.
      Właściwą psychoterapię poprzedza kilka sesji konsultacyjnych, po których
      podejmujemy wspólnie decyzję o dalszej współpracy i jej celach.
    </p>
  </div>
  <div id="psychodynamiczna" class="box" ngClass.lt-sm="box--lt-sm">
    <h2>Dlaczego psychodynamiczna</h2>
    <p>
      To nurt w psychoterapii, który sięga do tego, co podświadome, czyli do
      przeżyć, z których człowiek nie zdaje sobie sprawy. Terapeuta umiejętnie
      podąża za dynamiką dylematów pacjenta, tak by odkryć przed nim niedostępny
      świat jego psychiki. Naszymi zachowaniami kierują bowiem nie tylko
      świadome i racjonalne myśli i uczucia. Mamy wiele ukrytych pragnień i
      potrzeb, wiele nieuświadomionych, ale bardzo realnych, wewnętrznych
      konfliktów, które naznaczają naszą codzienność przynosząc cierpienie. Rolą
      terapeuty jest dotarcie do nich i uporządkowanie ich w taki sposób, by
      stały się konstruktywnymi elementami osobowości.
    </p>
    <p>
      Empatia i głębokie rozumienie procesów zachodzących w ludzkim umyśle
      pozwala terapeucie cierpliwie podążać za pacjentem i dokonywać potrzebnych
      interwencji. Na skutek tego, w relacji z terapeutą pacjent przepracuje te
      obszary swojego życia psychicznego, które potrzebują zmiany, by znacząco
      poprawić komfort jego życia. Będę pacjenta w tym procesie akceptować,
      prowadzić i będę mu towarzyszyć. Odnajdziemy siłę i sposoby, by pokonać
      trudności, wypracujemy trwałe, zdrowsze sposoby funkcjonowania. Proces
      terapeutyczny prowadzi pacjenta do zgody ze sobą i do zgody z innymi
      ludźmi.
    </p>
    <p>
      Będziemy pracować tak długo, aż poziom zadowolenia z siebie i ze swojego
      życia uznasz za satysfakcjonujący. Terapia psychodynamiczna, na tle innych
      metod, cieszy się osiąganiem trwałych zmian.
    </p>
  </div>
  <div id="spotkanie" class="box" ngClass.lt-sm="box--lt-sm">
    <h2>Pierwsze spotkanie</h2>
    <p>
      Spotkamy się w Gdańsku Wrzeszczu, przy ul. Uphagena. Spędzimy razem 50
      minut. Pierwsze spotkanie to z założenia spotkanie konsultacyjne. Uważnie
      cię wysłucham, spróbujemy przyjrzeć się temu, z czym przychodzisz.
      Sprawdzisz, czy czujesz się ze mną bezpiecznie, czy doświadczysz
      zrozumienia, czy wzbudzę w Tobie zaufanie i czy znajdziesz w sobie
      otwartość wobec mnie jako terapeuty. Następnie zdecydujemy o podjęciu
      dłuższej współpracy.
    </p>
  </div>
  <div class="height"><p></p></div>
</div>
