$background: rgb(199, 199, 187);
$headerColor: rgb(47, 56, 46);
$poppins: Poppins;
$lightBlue: rgb(195, 223, 243);
$lightBlueText:  #A9DBFD;
$avenir: Avenir;

@font-face {
    font-family: Avenir;
    src: url('../assets/FontsFree-Net-Avenir-Light\ \(1\).ttf');
}

@font-face {
    font-family: Poppins;
    src: url('../assets/Poppins-SemiBold.ttf');
}